<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ER_Crafting</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rawmaterials">
                <span class="bi bi-box"></span> Raw Materials
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productioncomponents">
                <span class="bi bi-box"></span> Production Components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="finalitems">
                <span class="bi bi-box"></span> Final Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colonies">
                <span class="bi bi-box"></span> Colonies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="production">
                <span class="bi bi-box"></span> Production
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gear">
                <span class="bi bi-box"></span> Gear
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
